<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  	<title>Swagata</title>
  </head>
  <body>
    {% include "library/navbaradmin.html" %}
    <br>
    <br>

<h3 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 50px;text-align:center;'>Book Added Successfully !</h3>
<br><br>
<div class="options" style="text-align:center">
  <a href="addbook" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click here to add more Book</a><br><br>

<a href="viewbook" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click here to view Book in Library</a><br><br>


</div>
<br>
{% include "library/footer.html" %}
  </body>
</html>
