<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Library Management System</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<style type="text/css">
    .bs-example{
        margin: 0px;

    }
.navbar-brand{
  font-size: 20px;
  font-family: sans-serif;

}
.col-lg-6{
  padding-left: 20%;
}
.jumbotron{
  margin-bottom: 0px;
}

</style>
</head>
<body>




{% include "library/navbar.html" %}








<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 " height="30%" src="{% static "images/lib1.jpg" %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 " height="50%" src="{% static "images/lib2.jpg" %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 " height="50%" src="{% static "images/lib3.jpg" %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>









<div class="jumbotron">
  <h1 style="text-align:center" class="display-4">Hello, Reader!</h1>
  <p class="lead">A service dedicated to Admin and Student. We provide online resources, professional support
    and guidance to all our students whenever, and from wherever they have chosen to study.</p>
  <hr class="my-4">

  <div class="row">

    <div class="col-lg-6">
      <img src="{% static "images/Admin-icon.png" %}" width="50%" height="50%" alt=""><br><br>
        <a class="btn btn-primary btn-lg" style="text-align:center" href="/adminclick" role="button">Admin</a>

    </div>

    <div class="col-lg-6">
      <img src="{% static "images/student.png" %}" width="50%" height="50%" alt=""><br><br>
      <a class="btn btn-primary btn-lg" href="/studentclick" role="button">Student</a>
    </div>
  </div>
<hr class="my-4">

</div>









</body>
</html>
